<form [formGroup]="bookmarkForm" novalidate (ngSubmit)="onSubmit()" class="bookmark-add-form">
  <mat-card >
    <mat-card-header>
      <mat-card-title>Add bookmark</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="bookmarkForm.controls['name'].hasError('required')">
               Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Url" formControlName="url"></textarea>
            <mat-error *ngIf="bookmarkForm.controls['url'].hasError('required')">
              url is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="group">
            <mat-radio-button value="0">Work</mat-radio-button>
            <mat-radio-button value="1">Leisure</mat-radio-button>
            <mat-radio-button value="2">Personal</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
