<div class="bookmark-detail">
  <h3>Bookmark details</h3>
  <div><span>name: </span>{{ bookmark.name }}</div>
  <div><span>id: </span>{{ bookmark.id }}</div>
  <div><span>url: </span>{{ bookmark.url }}</div>
  <div><span>group: </span>{{ BookmarkGroup[bookmark.group] }}</div>

  <mat-card-actions>
    <button
      (click)="remove.emit(bookmark.id)"
      data-test="remove-button"
      mat-raised-button
      color="warn"
    >
      Remove
    </button>
  </mat-card-actions>
</div>
