.container {
  display: grid;
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr;
    .bookmark-list {
      grid-column: 1/3;
    }
  }
}

section {
  margin: 1em;
  padding: 1em;
  background-color: whitesmoke;
}
