<h1>Bookmarks App</h1>

<div class="container">
  <section class="bookmark-list">
    <div *ngFor="let bookmarkGroup of bookmarkGroups$ |async">
      <app-bookmark-list
        [bookmarks]="bookmarksFromGroup$(bookmarkGroup) | async"
        [bookmarkGroup]="bookmarkGroup"
        (select)="onSelectSingleBookmark($event)"
      ></app-bookmark-list>
    </div>
  </section>

  <section>
    <app-bookmark-detail
      *ngIf="(ui$ | async).selectedBookmark; else elseBlock"
      [bookmark]="(ui$ | async).selectedBookmark"
      (remove)="onRemove($event)"
    ></app-bookmark-detail>
    <ng-template #elseBlock>Click a bookmark for details</ng-template>
  </section>

  <section>
    <app-bookmark-add-form (add)="onAdd($event)"></app-bookmark-add-form>
  </section>
</div>
