.bookmark-item {
  border-bottom: 1px solid darkgray;
  height: 3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: yellowgreen;
  }
  > div {
    flex: 1;
    padding: 0 1em;
    text-align: left;
  }
}
