<div class="bookmarks">
  <h3>Bookmarks list group: {{ BookmarkGroup[bookmarkGroup] }}</h3>

  <div
    (click)="select.emit(bookmark)"
    class="bookmark-item"
    *ngFor="let bookmark of bookmarks;"
  >
    <button (click)="select.emit(bookmark)" data-test="select-button">
      Select
    </button>
    <div>{{ bookmark.name }}</div>
    <div><span>id: </span>{{ bookmark.id }}</div>
    <div><span>url: </span>{{ bookmark.url }}</div>
    <div><span>group: </span>{{ BookmarkGroup[bookmark.group] }}</div>
  </div>
</div>
